<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Chat App</title>
  </head>
  <body>
    <div>
      <a href="/room1">ROOM1</a>
      <a href="/room2">ROOM2</a>
      <a href="/room3">ROOM3</a>
    </div>
  </body>
</html>
